<h1>Listing fixtures</h1>

<table>
  <tr>
    <th>Player1</th>
    <th>Player2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fixtures.each do |fixture| %>
  <tr>
    <td><%= fixture.player1.name %></td>
    <td><%= fixture.player2.name %></td>
    <td><%= link_to 'Show', fixture %></td>
    <td><%= link_to 'Edit', edit_fixture_path(fixture) %></td>
    <td><%= link_to 'Destroy', fixture, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fixture', new_fixture_path %>
