<p id="notice"><%= notice %></p>

<%
   sp1 = 0
   sp2 = 0
   @fixture.matches.each { |m|
     sp1 += m.score1
     sp2 += m.score2
   }

   sp1lead = sp1 >= sp2 ? true : false
   sp2lead = sp2 >= sp1 ? true : false
%>

<div class="players">
  <span class="player">
    <%= @fixture.player1.name %>&nbsp;<span class="score<%= sp1lead ? " lead" : "" %>"><%= sp1 %></span>
  </span>
  <span class="player vs">vs.</span>
  <span class="player">
    <%= @fixture.player2.name %>&nbsp;<span class="score<%= sp2lead ? " lead" : "" %>"><%= sp2 %></span>
  </span>
</div>


<div class="add_match">
  <%= form_for(@fixture.matches.build, :remote => true) do |f| %>
    <%= f.hidden_field :fixture_id, :value => @fixture.id %>
    <%= f.text_field :score1 %> - <%= f.text_field :score2 %>
    <%= f.submit "+" %>
    <br>
    <%= f.text_area :description, :cols => 30, :rows => 2 %>
  <% end %>
</div>
  
<div class="matches">
  <%= render :partial => "matches/match", :collection => @fixture.matches.reverse %>
</div>

<%= link_to 'Edit', edit_fixture_path(@fixture) %> |
<%= link_to 'Back', fixtures_path %>
