<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Creator:</b>
  <%= @group.creator_id %>
</p>

<p>
  Mitglieder:<br>
  <% if !@group.users.blank? %>
    <% for user in @group.users %>
      <%= user.email %><br>
    <% end %>
  <% else %>
  Keine Mitglieder
  <% end %>
</p>

<%= link_to 'Back', groups_path %>
