<%= form_for(@group) do |f| %>
<% if @group.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

	<ul>
		<% @group.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</div>

<div class="field">
	<%= f.label :users %><br/>
	<%= collection_select(:group, :user_ids, User.all, :id, :email,
	{ :selected => @group.user_ids },
	{:multiple => true, :role => 'group[user_ids][]'}) %>
</div>

<% if !@group.new_record? %>
<div class="field">
    <%= f.label :creator %><br/>
    <%= f.select :creator_id, @group.users.map { |u| [u.email, u.id] } %>
</div>
<% end %>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
