<p id="notice"><%= notice %></p>

<p>
  <b>Score1:</b>
  <%= @match.score1 %>
</p>

<p>
  <b>Score2:</b>
  <%= @match.score2 %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
